*{
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin: 0px;
}

div.registerModal .MuiInputLabel-root {
    color: grey !important;
}
div.registerModal .MuiInputBase-root {
    color: white;
    border-color: grey; /* Customize the border as desired */
}
div.registerModal form{
    padding: 30px 0px;
}
div.registerModal .modal-header{
    color: #e7e9ea;
}
div.modal-container{
    margin: 0px 20px;
}
div.btnContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
div.registerModal span{
    color: #B22222;
    font-size: 12px;
}

.error{
    color: #B22222;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root.Mui-disabled{
    opacity: 0.3;
    background-color: gray !important;
    color: white !important;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color:rgba(91, 112, 131, 0.4) !important;
}
div.authComponent{
    background-image:url('./assets/twitterOrig.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    color: #e7e9ea;
}
div.authLinks{
    /* color: white; */
    background-color: #000000;
    height: 650px;
    padding-top: 50px;
    padding-left: 30px;
}
div.modalLinks{
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
div.birdContainer{
    width: fit-content;
    margin: auto;
    margin-top: 200px;
}

div.authComponent h3{
    margin: 10px 0px;
    font-weight: bolder;
}
div.authComponent h1{
    font-size: 70px;
}



@media all and (min-width: 600px) and (max-width: 900px) { 
    div.birdContainer{
        margin-top: 100px;
    }
}
 
@media all and (max-width: 600px) {
    div.birdContainer{
        margin-top: 100px;
    }
 }
